.card-content {
  width: 70%;
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 999;
  background-color: #fff;
  padding: 3%;
  border-radius: 1vw;
  border: solid 0.3vw #573528;
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 3vw;
    border-bottom: solid 0.2vw black;
  }

  div {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .removed {
      background-color: #ff0101d6;
      padding: 2% 6%;
      color: #fff;
      border: none;
      font-size: 1.1vw;
      margin: 5% 0 4% 0;
      border-radius: 0.5vw;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.05);
        transition: all 0.5s;
      }
    }
  }

  .close {
    background-color: #110a07;
    padding: 3% 12%;
    color: #fff;
    border: none;
    font-size: 1.3vw;
    margin: 5% 0 4% 0;
    border-radius: 0.5vw;
    cursor: pointer;

    transition: all 0.5s;
    &:hover {
      transform: scale(1.05);
      transition: all 0.5s;
    }
  }
}
